body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.game {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.players {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.player-box {
    width: 45%;
    text-align: center;
}

.player-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.player-move {
    width: 150px;
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#resultBox {
    background-color: #FFD700;
    color: #2D1151;
    width: 100%;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 6px;
}

/* Popup */
#popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}